@import "../../variables";
.labelModal {
  position: absolute;
  bottom: -44%;
  right: -4%;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  .labels-list {
    overflow-y: auto;
    max-height: 6.5rem;
  }
}
@media (max-width: 580px) {
  .labelModal {
    right: 4%;
  }
}
.label-box{
border: 1px solid red;
}