@import "../../variables";
.fixed-container {
  inset: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(9, 13, 15, 0.18);
  .note-modal {
    width: 40%;
  }

  .modal-footer {
    // border: 1px solid red;
    padding: 0.5rem;
    display: flex;
    justify-content: end;
  }
}
//   background: transparent;
