@import "../../variables";
.fixed-container {
  inset: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(38, 38, 40, 0.58);
  z-index: 15;
  .note-modal {
    width: 500px;
    margin: 0.5rem;
    overflow-x: hidden;
    position: relative;
    margin-bottom: 6rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    .modal-footer {
      display: flex;
      justify-content: end;
      align-items: center;
    }
    .labelTag {
      margin-right: 10px;
      padding: 0 0.7rem;
      opacity: 0.7;
      border-radius: 5px;
    }
    .modal-priority {
      position: absolute;
      transform: rotate(-38deg);
      font-size: 12px;
      top: 3%;
      width: 60px;
      left: -2%;
      opacity: 1;
      color: $white;
      text-align: center;
      color: $main-color;
      background-color: $green;
    }
  }
}
.icon-hash {
  opacity: 0.2;
}
.icon-hash:hover {
  opacity: 0.8;
}
.medium {
  background-color: $green !important;
}
.high {
  background-color: $error !important;
}
.low {
  background-color: $action-dark !important;
}
