@import "../../variables";
.sidebar {
  width: 400px;
  .sidebar-list {
    .sidebar-txt {
      margin-bottom: 1rem;
      display: flex;

      align-items: center;
      padding: 0.5rem 0rem;

      // effect style
      position: relative;
      &::before {
        transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        left: 2.2%;
      }

      .side-icon {
        margin: 0 1rem;
        color: $main-color;
      }

      &::before {
        border-radius: 10px;
        width: 40px;
        background: $action-color;
      }
      &:hover {
        &::before {
          width: 150px;
        }
      }
    }
  }
}
.create-btn {
  color: $main-color;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  background-color: $action-color;
  width: 100%;
  transition: all 0.3s;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.create-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  transform: translateY(-5px);
}
.create-btn:active {
  background-color: $action-dark;
}
