@import "../../variables";
.sidebar {
  //   border: 1px solid red;
  //   width: 26%;

  .sidebar-list {
    li {
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: baseline;
      align-items: center;
      padding: 0.4rem 0rem;

      // effect style
      position: relative;
      &::before {
        transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        content: "";
        width: 10%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.2;
      }

      .side-icon {
        margin: 0 1rem;
        color: $green;
        mix-blend-mode: difference;
      }

      &::before {
        color: $green;
        border-radius: 10px;
        width: 4.5%;
        background: $bg-secondary;
      }
      &:hover {
        &::before {
          width: 14%;
        }
      }
    }
  }
}
.create-btn {
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  background-color: $green;
  color: $white;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bolder;
}
.create-btn:hover {
  opacity: 0.8;
}
