@import "../../variables";
.filter-container {
  position: absolute;
  background-color: $white;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  top: 120%;
  right: 0%;
  z-index: 13;
  min-width: 40%;
}

.filters-select {
  border: none;
  border-bottom: 1px solid $main-color;
}
