.flex-spBt-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-spBt {
  display: flex;
  justify-content: space-between;
}
.pd-top-1 {
  padding-top: 1rem;
}
.mg-1 {
  margin: 1rem;
}
.mg-b-1 {
  margin-bottom: 1rem;
}
.mg-tb-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mg-rl-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}
.font-lg {
  font-size: 1.5rem;
}

.font-sm {
  font-size: 0.8rem;
}
.font-xl {
  font-size: 2rem;
}
.font-lg {
  font-size: 1.5rem;
}
.color-dark {
  color: $green;
}

.color-light {
  color: $brown;
}
.flex {
  display: flex;
}

.w50 {
  width: 50%;
}
.w80 {
  width: 80%;
}
.w100 {
  width: 100%;
}
.reset-input {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
.reset-input:focus {
  outline: none;
}
