.flex-spBt-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-spBt {
  display: flex;
  justify-content: space-between;
}
.pd-1 {
  padding: 1rem;
}
.pd {
  padding: 0.5rem;
}
.pd-top-1 {
  padding-top: 1rem;
}

.pd-right-1 {
  padding-right: 1rem;
}

.pd-left-1 {
  padding-left: 1rem;
}
.mg-1 {
  margin: 1rem;
}
.mg-b-1 {
  margin-bottom: 1rem;
}
.mg-tb-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mg-top-1 {
  margin-top: 1.2rem;
}
.mg-top-3 {
  margin-top: 3.15rem;
}
.mg-bottom-1 {
  margin-bottom: 1.2rem;
}
.mg-bottom-3 {
  margin-bottom: 3.15rem;
}

.mg-left-2 {
  margin-left: 2rem;
}
.mg-rl-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mg-rl-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}
.font-lg {
  font-size: 1.5rem;
}

.font-sm {
  font-size: 0.8rem;
}
.font-xl {
  font-size: 2rem;
}
.font-lg {
  font-size: 1.5rem;
}
.color-dark {
  color: $green;
}

.color-light {
  color: $brown;
}
.flex {
  display: flex;
}

.w50 {
  width: 50%;
}
.w80 {
  width: 80%;
}
.w100 {
  width: 100%;
}
.reset-input {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
.reset-input:focus {
  outline: none;
}

.border-bottom {
  border-bottom: 1px solid black;
}
.border-rg {
  border: none;
  border-bottom: 2px solid $green;
}
.border-reset {
  border: none;
  background-color: transparent;
}
.border-none {
  border: none;
}
.txt-start {
  text-align: start;
}
.txt-underline {
  text-decoration: underline;
}
.color-err {
  color: $error;
}
