$white: #fff;
$green: #113e21;
$brown: #b38b59;
$secondary-color: #f0f0f0;
$error: #ef4444;
$bg-secondary: #abaaaa;

// palette colors

.bg-yellow {
  background-color: #fef3c7;
}
.bg-red {
  background-color: #fee2e2;
}
.bg-green {
  background-color: #dcfce7;
}
.bg-orange {
  background-color: #ffedd5;
}
.bg-purple {
  background-color: #dbeafe;
}

.bg-grey {
  background-color: #f3f4f6;
}

.bg-lime {
  background-color: #ecfccb;
}
