@import "../../variables";
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik:wght@400;@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Square+Peg&display=swap");
.nav {
  padding: 0.2rem 2.6rem;
  border-bottom: 1px solid $main-color;
  position: sticky;
  top: 0;
  .show-side {
    display: block !important;
  }
  .title {
    font-size: 2rem;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
  }
  .sub-title {
    font-size: 5rem;
    font-weight: 900;
    line-height: 0.7em;
    font-family: "Square Peg", cursive;
    color: $action-color;
  }
  .title-icon {
    position: absolute;
    top: 7%;
    color: $main-color;
  }
}
.mobile-btn {
  display: none;
}

@media (max-width: 420px) {
  .nav {
    padding: 0.2rem 1rem;
    .sub-title {
      font-size: 4rem;
    }
  }
}
@media (max-width: 365px) {
  .nav {
    padding: 0.2rem 0.4rem;
  }
}
@media (max-width: 800px) {
  .mobile-btn {
    display: inline-block;
  }
}
